footer {
  text-align: center;
  color: #aeb9d8;
}

header {
  width: 100%;
  height: 60px;
  font-size: 14px;
}
header a {
  color: #aeb9d8;
}
header a:hover {
  color: #ffffff;
}
header .header-left .header-nav {
  height: 60px;
}
header .header-left .header-nav li {
  float: left;
  width: 100px;
  text-align: center;
  line-height: 60px;
  color: #ffffff;
}
header .header-right .btn-login {
  display: inline-block;
  width: 100px;
  text-align: center;
}
header .header-right .btn-regisiter {
  display: inline-block;
  width: 100px;
  padding: 0 20px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border: 1px solid #357ce1;
  letter-spacing: 0.29px;
  border-radius: 4px;
  -moz-text-align-last: justify;
       text-align-last: justify;
}
header .header-right .header-user {
  width: 140px;
  line-height: 64px;
  text-align: center;
  position: relative;
}
header .header-right .header-user .user-touxiang {
  color: '#aeb9d8';
  font-size: '24px';
}
header .header-right .header-user a {
  display: block;
  width: 100%;
  height: 100%;
}
header .header-right .header-user:hover {
  background-color: #001b36;
}
header .header-right .header-user:hover .header-user-hidden {
  display: block;
}
header .header-right .header-user:hover .user-touxiang {
  color: '#fff';
  font-size: '24px';
}
header .header-right .header-user .header-user-hidden {
  position: absolute;
  background-color: #001529;
  width: 140px;
  display: none;
}
header .header-right .header-user .header-user-hidden li {
  height: 60px;
  line-height: 60px;
}
header .header-right .header-user .header-user-hidden li:hover {
  background-color: #001b36;
}

.main {
  min-width: 1200px;
}
.main .app-content {
  background: '#ccc';
  min-height: 647px;
}
.logo {
  width: 10px;
  height: 20px;
}

.login {
  width: 300px;
  margin: 100px auto 0;
  padding: 0 20px;
}

.user-main {
  width: 800px;
  margin: 10px auto 0;
  background-color: #666;
  min-height: 600px;
}
.user-main h1 {
  font-size: 32px;
  font-weight: 600;
}
.user-main .content .u-left {
  width: 200px;
  border-right: 1px solid #000000;
}

@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img,header { margin:0; padding:0; }
fieldset, img,input,button { border:none; padding:0;margin:0;outline-style:none; }
/*去掉input等聚焦时的蓝色边框*/
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
select, input { vertical-align:middle;}
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; }
/*防止拖动*/
img {border:0; vertical-align:middle; }
/*  去掉图片低测默认的3像素空白缝隙，或者用display：block也可以*/
table { border-collapse:collapse; }
body {
    font:12px/150% Arial,Verdana,"\5b8b\4f53";
    color:#666;
    background: #fff;
}
.clearfix:before,.clearfix:after {  /*清楚浮动*/
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
a {color:#666; text-decoration:none; }
a:hover{color:#C81623;}
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:100%;}
/*设置h标签的大小，设置跟父亲一样大的字体font-size:100%;*/
s,i,em{font-style:normal;text-decoration:none;}
.col-red{color: #C81623!important;}
/*公共类*/
.w {  /*版心 提取 */
    width: 1210px;margin:0 auto;
}
.fl {
    float:left
}
.fr {
    float:right
}
.al {
    text-align:left
}
.ac {
    text-align:center
}
.ar {
    text-align:right
}
.hide {
    display:none
}
.font12{ font-size: 12px;}
.font14{ font-size: 14px;}
.font16{ font-size: 16px;}
/*公共部分*/
/*头部导航开始*/
/*尾部部导航开始*/


